.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
/*nav style*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav-title{
    font-size: 45px;
    font-weight: 800;
}

.text-primary{
    color: #FD6E0A;
}

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
}
.banner{
    display:flex;
    justify-content: space-between;
    margin: 0px 38px 0px 230px;
}

.banner-content{
    max-width: 580px;
}
.banner-greeting{
font-size: 45px;
font-weight: 600;
}

.banner-title{
    font-size: 85px;
font-weight: 700;
}

.banner-description{
    font-size: 18px;
font-weight: 400;
color: rgb(117, 117, 117);
}

.banner-picture{
    max-width: 580px;
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    font-weight: 700;
    font-size: 20px;
    padding:19px 36px;
    color: white;
border-radius: 5px;
border: none;
}

nav ul{
    display:flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right:50px;
}

ul li a{
    text-decoration: none;
}

.dark-2{
    color: #474747;
}

.dark-3{
   color: rgb(117, 117, 117);
}

/*section*/
.section-title{
    font-size: 35px;
font-weight: 700;
color: rgb(24, 24, 24);
}

.section-description{
    font-size: 18px;
font-weight: 400;
}

.bg-color{
   background-color:  rgb(255, 248, 243);
}

main{
     max-width: 1140px;
     margin: 0px auto;
}

.about{
   
    border-radius: 10px;
    padding: 150px 130px;
    margin-top: 130px;
    text-align: center;
}

.item-description{
    font-weight: 700;
}

.about-items{
    display:flex;
    justify-content: space-around;
}
